<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Memorable Giving</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <script src="~/lib/suopSnackbar.js" defer asp-append-version="true"></script>
    <script src="~/lib/suopPopup.js" defer asp-append-version="true"></script>
    <script src="~/lib/jsCookie.js" defer asp-append-version="true"></script>
    <script src="~/js/main.js" defer asp-append-version="true"></script>
    <script src="~/js/cart.js" defer asp-append-version="true"></script>
</head>
<body>
    <header>
        <div class="header-row">
            <span class="spacer"></span>

            <a asp-page="/Index" class="header-item no-underline"><img src="~/img/mg-logo.svg"/></a>
            <span class="spacer"></span>
            <a class="no-underline cart-hover-target cart-button" href="/checkout"><span class="cart-product-number"></span><img id="header-cart-button-image" src="/img/cart.svg" alt="" /></a>
        </div>
        <div class="header-row header-links">
            <span class="spacer"></span>
            <a class="no-underline" href="/">Shop</a>
            <a class="no-underline" href="/fontViewer">Font Viewer</a>
            <a class="no-underline" href="/testimonials">Testimonials</a>
            <a class="no-underline" href="/about">About</a>
            <span class="spacer"></span>

        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - <a href="https://Memorablegiving.com">Memorablegiving.com</a> - Made with Love in Boise, Idaho
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>