<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuopCommerce</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-page="/Index">Home</a>
        <a href="/admin">Admin</a>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SuopCommerce - <a asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>