@page "/products/{id}"
@model ProductModel
@{
}
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />

<h1>@Model.product.Name</h1>
@foreach (var image in Model.product.Images)
{
    <img src="@image">
}
<p>@Model.product.Description</p>
<button onclick="suopCart.add(new CartItem('@Model.product.Id', 1))">Buy now</button>
