$padding: 40px
$text-width: 500px

.product-page-wrapper
  @media (orientation: landscape)
    padding: $padding $padding 0 $padding
    gap: $padding
    display: flex
    grid-template-columns: min($text-width * 2) $text-width
    align-items: start
    justify-content: center

$image-max-width: 350px
.product-image-grid-wrapper
  display: grid
  gap: $padding
  width: $text-width * 2
  flex-shrink: 1

.product-image-grid
  display: grid
  gap: $padding $padding
  grid-template-columns: repeat(auto-fill, minmax($image-max-width, 1fr))
  align-items: start

.product-image
  cursor: pointer
  display: flex
  flex-flow: column-reverse nowrap
  text-decoration: none
  position: relative
  background: radial-gradient(ellipse at bottom, #1B2735 0, #686868 100%)
  color: #fff
  transition: all 0.2s
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  overflow: hidden
  width: 100%
  >.title
    position: absolute
    z-index: 1
    width: 100%
    background-color: #000000e0
    padding: 10px
    opacity: 0
    transition: opacity 0.2s
    line-height: 1.5em
  &:hover
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    > .title
      opacity: 1

.product-info
  width: $text-width
  flex-shrink: 0
  display: flex
  flex-flow: column
  align-items: flex-start
  > h1
    letter-spacing: -1.5px
.product-description
  line-height: 1.5em

.product-addon
  $addon-padding: 1em
  display: inline-flex
  background-color: #00000000
  outline: #00000050 solid 1px
  transition: all 0.2s
  &:has(input:checked)
    outline: #00000070 solid 1px
    background-color: #00000030
  > .addon-image
    max-height: 6em
  > .addon-text
    min-height: 4em
    padding: $addon-padding $addon-padding 0 $addon-padding
  > input
    display: none

.product-extra
  margin-bottom: 1em
  width: 100%

.extra-text-field
  width: 100%
  min-height: 6em
  display: block
  outline: 1px black solid
  &:empty:before
    cursor: text
    color: #000000ad

.extra-radio-wrapper
  display: flex
  flex-flow: row wrap
.extra-radio
  display: flex
  flex-flow: column
  justify-content: center
  outline: solid black 1px
  padding: 1em
  cursor: pointer
  background-color: #00000000
  transition: background-color 0.2s
  &:has(input:checked)
    background-color: #00000042
