@mixin underline ($color, $thickness, $width, $yOffset)
  display: inline-block
  position: relative
  z-index: 1
  &::after
    content: ""
    width: $width
    padding-bottom: $thickness
    background-color: $color
    position: absolute
    right: calc((100% - $width) / 2 )
    bottom: calc(-1 * $thickness) + $yOffset
    z-index: -1

$fresh-link: #ff5555
$used-link: #f78787
$accent: #62ff07

//Clear existing styles
*
  padding: 0
  margin: 0
  box-sizing: border-box
  border: none
  background-color: transparent
  font-size: inherit
  &:focus
    outline: none

html
  min-width: 100%
  min-height: 100%
  font-family: sans-serif

//Page layout
body
  position: relative
  min-height: 100vh
  align-content: flex-start
  font-size: 16px
  > *
    width: 100%

header
  padding: 50px
  background-color: black
  color: white
main
  display: flex
  flex-flow: column
  align-items: flex-start
  @media (orientation: landscape)
    padding: 0 20% 0 20%

footer
  position: absolute
  bottom: 0
  padding: 10px
  background-color: black
  color: white

//Misc styling
a
  $height: 2px
  &::after
    transition: all 0.2s
  &:link
    color: $fresh-link
    @include underline ($color: $fresh-link, $thickness: $height, $width: 100%, $yOffset: $height)
  &:visited
    color: $fresh-link
  &:hover
    &::after
      right: -5%
      width: 110%
      background-color: $used-link
i
  font-style: normal

//Special text formatting
$warning-color: #ff453f
.warning
  color: $warning-color

h1
  font-size: 2em
  font-weight: normal
  @include underline ($color: $accent, $thickness: 7px, $width: 110%, $yOffset: 5px)

//form styling
form
  display: flex
  flex-flow: column
  > *
    margin-bottom: 20px

input[type=text], input[type=number]
  border-bottom: 1px solid #aaa

  &:focus
    border-bottom: 1px solid #111

button
  background-color: $fresh-link
  color: white
  cursor: pointer
  padding: 10px
  border-radius: 5px

.text-input
  display: flex
  flex-flow: column
