@mixin underline ($color, $thickness, $width, $yOffset)
  display: inline-block
  position: relative
  z-index: 1
  &::after
    content: ""
    width: $width
    padding-bottom: $thickness
    background-color: $color
    position: absolute
    right: calc((100% - $width) / 2 )
    bottom: calc(-1 * $thickness) + $yOffset
    z-index: -1

$fresh-link: #ff5555
$used-link: #f78787
$accent: #62ff07

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  min-width: 100%
  min-height: 100%
  font-family: sans-serif

body
  position: relative
  min-height: 100vh
  align-content: flex-start
  > *
    width: 100%

header
  padding: 50px
  background-color: black
  color: white
main
  @media (orientation: landscape)
    padding: 0 20% 0 20%

footer
  position: absolute
  bottom: 0
  padding: 10px
  background-color: black
  color: white

a
  $height: 2px
  &::after
    transition: all 0.2s
    background-color: $fresh-link
  &:link
    color: $fresh-link
    @include underline ($color: $fresh-link, $thickness: $height, $width: 100%, $yOffset: $height)
  &:visited
    color: $fresh-link
  &:hover
    &::after
      right: -5%
      width: 110%
      background-color: $used-link

h1
  font-weight: normal
  @include underline ($color: $accent, $thickness: 7px, $width: 110%, $yOffset: 5px)
