@page
@model SuopCommerce.Pages.AboutModel
@{
}
<div class="page-padding-sides">
    <p>
        We have the FASTEST turnaround! Current turnaround time: 5 business days. If you have a tighter deadline to receive the shipment, please make it clear to us, and we will try our best to accommodate. We offer rush orders if you need them sooner. For more accurate turnaround time, please see the individual listing or your order details. The shipping time is our best estimate as we can not guarantee it.
    </p>
    <p>Follow us @@memorablegiving on Instagram for promos, or email us at info [!at] memorablegiving.com for any questions.</p>
    <p>We generally answer your questions within an hour, not days. Try us NOW!</p>
    </p>
    <p>
    <p>We pride ourselves on the most responsive customer service! We usually answer our customer questions within minutes, not days like our competitors. Try us and you will be positively surprised!</p>
    </p>
    <p>
    <p>BUY AMERICAN and Shop Small! We strive to support any true American Businesses and we try our best to buy America-made supplies!</p>
    </p>
    <p>
    <p>Hello from Julie and Byron at MemorableGiving! We are a local business based in Boise, Idaho, and a husband and wife team hand-making custom name signs, nursery name signs, wedding name signs, family established signs, etc. If you have an idea about a certain design, talk to us and we'll make it happen.</p>
</div>
