@page
@model AdminModel
@{
}

<h1> Admin page</h1>
<p>@ViewData["debug"]</p>
<form enctype="multipart/form-data" method="post">
    <span class="text-input">
        Id
        <input type="text" name="Id" value="@Model.nextId" required/>
    </span>
    <span class="text-input">
        
        <input type="text" name="Name" value="temp" required />
    </span>
    <span class="text-input">
        Description
        <input type="text" name="Description" value="temp" required>
    </span>
    <span class="text-input">
        Category Id
        <input type="text" name="CategoryId"/>
    </span>
    <span class="text-input">
        Price
        <input type="number" name="Price" value="0" required />
    </span>
    <span class="text-input">
        Tags
        <input type="text" name="Tags"/>
    </span>
    <span class="text-input">
        Images
        <input type="file" name="Images" multiple="multiple" accept=".png, .jpg, .jpeg, .webp"/>
        <i class="warning">Note: make sure only trusted users have access to this page, as uploads are not validated beyond extension.</i>
    </span>
    <button type="submit" class="btn btn-default">Register</button>
</form>