@page
@model SuopCommerce.Pages.FontViewerModel
@{
    ViewData["Title"] = "Font Viewer";
}
<div class="page-padding-sides">
    <input type="text" placeholder="Input a name to view" id="font-previewer-input"/>
    <div class="font-previews"></div>
</div>
<script src="/js/fontPreviewer.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/viewer.css" asp-append-version="true" />
